header{
    width: 800px;   
    margin: auto;
    border: solid;
    background-color: rgb(163, 147, 196);    
    text-align: center;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

h2{
    text-align: center;
}

.about{
    background-color: rgb(223, 191, 191);
    width: 800px;   
    margin: auto;
    padding-bottom: 5px;
    border-top: solid;
    
    margin-top: 10px;
}

.kanan{    
    text-align: right;    
    margin-right: 10px;
}

.isi{
    margin-top: 20px;
    border-top: solid;
    width: 800px;
    margin: auto;
    background-color: rgb(180, 143, 130);
    border-bottom: solid;
}

footer{
    background-color: #9e8d8d;
    font-size: 30px;
}